@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --text-color: #DBE4EF;
    --cor-cartao-frente: #144480;
    --cor-cartao-verso: #00F4BF;
}

body{
    font-family: 'Bai Jamjuree';
    background-color: whitesmoke;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 2rem;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem;
    background-color: aquamarine;
    height: 20rem;
}

